/out
.idea/uiDesigner.xml
.idea/workspace.xml

.idea/workspace.xml
data/noisefree_w30.dat
data/noisefree_w50.dat

data/noisefree_w30.dat
.idea/misc.xml
.idea/preferred-vcs.xml
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
